@model WebMVC.DTOs.PagoDTO

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<span>@ViewBag.Error</span>

<h3>Confirmar borrado</h3>
<div>
    <h4>PagoDTO</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaPago)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaPago)
        </dd>
              <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsuarioEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsuarioEmail)
        </dd>
              <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MontoTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MontoTotal)
        </dd>
     
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
